*{
  margin: 0;
  padding: 0;
}
nav{
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
ul{
  display: flex;
}
li{
  margin: 20px;
  list-style: none;
  text-transform: uppercase;
  text-decoration: none;
}
h1{
  text-align: center;
  color: cadetblue;
}
.pumpkin{
  width: 800px;
  margin: 100px auto;
  font-size: 20px;
}
main{
  background-color: burlywood;
  height: 70vh;
}
.about-pumpkin{
  width: 1000px;
  margin: 60px auto;
  font-size: 30px;
  font-weight: 200px;
  background-color:gray;
  color: brown;
}
footer{
  background-color: black;
  height: 20vh;
  color: white;
  text-align: center;
}
.main-para{
  margin: 10px;
  padding: 10px;
  width: 1000px;
  font-size: 30px;
  font-weight: 200px;
  background-color: darkslategray;
  color: white;
text-transform: uppercase;
}


li a{
  color: white;
}
